<!-- search.component.html -->
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
       Welcome to Search app
      </a>
    </div>
  </nav>
  
  <div class="search-container space-within-div">
      <input [(ngModel)]="searchTerm" placeholder="Enter search term" />
      <button (click)="search()">Search</button>
    </div>
    <div *ngIf="searchResults.length > 0">
      <h3 class="heading">Search Results</h3>
      <ul>
        <li *ngFor="let result of searchResults">
          {{ result.firstName }} {{ result.lastName }}
        </li>
      </ul>
    </div>
  
    <div *ngIf="showErrorAlert" class="space-within-div">
      <app-alert [message]="ErrorMessage"
      [show]="showErrorAlert"
      (closeAlertEvent)="closeAlert()"></app-alert>
    </div>
  
    
  